*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 17px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 p{
    font-weight: bold;
    font-size: 15px;
    font-family: cursive;
}
.btn{
    display: inline-block;
    background: #121111;
    color: #fff;
    padding: 8px 30px ;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff, #9b6c27);
}
.header .row{
    margin-top: 70px;
}

.title h1{
  font-size: 90px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
}


.title h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

.title p{
    text-align: center;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(247, 247, 247);
    font-size: 20px;
}

.title-2 h1{
    font-size: 90px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
  }
  
  
.title-2 h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }

.title-2 p{
    text-align: center;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    font-size: 20px;
}

.title-3 h1{
    font-size: 90px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
  }
  
  
.title-3 h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
.title-3 p{
    text-align: center;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(248, 248, 246);
    font-size: 20px;
}
.about{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}


.footer{
    background: #1e1e1e;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
    font-weight: bold;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
    color: yellow;
}
.footer-col-4 a{
    color: yellow;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px o;
}
.copyright{
    text-align: center;
}