* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.5;
    padding: 20px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .error {
    color: #cc0000;
    font-weight: bold;
  }
  
  /* Header styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 32px;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input[type="submit"] {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form input[type="submit"]:hover {
    background-color: #666;
  }
  
  #submit-no {
    background-color: #ccc;
    color: #333;
  }
  
  #submit-no:hover {
    background-color: #999;
  }

  h2, h3{
    text-align: center;
  }
  