*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 17px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 p{
    font-weight: bold;
    font-size: 15px;
    font-family: cursive;
}
.btn{
    display: inline-block;
    background: #121111;
    color: #fff;
    padding: 8px 30px ;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff, #9b6c27);
}
.header .row{
    margin-top: 70px;
}

.person {
    display: flex;
    align-items: center;
    gap: 20px;
    background: radial-gradient(rgb(215, 197, 197),rgb(121, 73, 0));
}
  
.person img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
  
.person .info {
    display: flex;
    flex-direction: column;
}
  
.person .name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.person .review {
    font-size:25px;
}

.reviews{
    background: rgb(111,98,65);
    background: linear-gradient(90deg, rgba(111,98,65,1) 15%, rgba(167,134,76,1) 54%, rgba(240,221,149,1) 88%);
}


.review-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
  
.review-form h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: normal;
    width: 100%;
    text-align: center;
    font-size: 5vw;
    background: linear-gradient(
      -45deg, 
      #4bc0c8 25%, 
      #feac5e 25%, 
      #feac5e 50%, 
      #4bc0c8 50%, 
      #4bc0c8 75%, 
      #feac5e 75%, 
      #feac5e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 800% 800%;
    background-position: 0 0;
    animation: stripes 1s linear infinite;
  }
  
  @keyframes stripes {
    100% { 
      background-position: 800% 0, 800% 0, 800% 0;
    }
  }
  
.review-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.review-form label {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.review-form input[type="text"],
.review-form input[type="email"],
.review-form select,
.review-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}
  
.review-form input[type="submit"] {
    background-color: #633100;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.review-form input[type="submit"]:hover {
    background-color: #a57805;
}

.footer{
    background: #1e1e1e;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
    font-weight: bold;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
    color: yellow;
}
.footer-col-4 a{
    color: yellow;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px o;
}
.copyright{
    text-align: center;
}

  

  